<ul class="menu1__ul">
  <li class="menu1__li">
    <a href="#">
      <img src="http://placehold.it/1280X721/455a64/fff" alt="">
      Пример записи про саске нуба который не хочет в деревню
    </a>
  </li>
  <li class="menu1__li">
    <a href="#s">
    <img src="http://placehold.it/1280X721/455a64/fff" alt="">
    Вернись сука </a>
  </li>
  <li class="menu1__li"><a href="#">Я стану королем ХОКАГЕ!</a></li>
  <li class="menu1__li"><a href="#">Яойная манга про то и про это как япошки могут а</a></li>
</ul>
