---
layout: home
title: About
pagn: true
collection: "collect"
permalink: /collect/galery
breadcrumb:
  - id: collect
    name: "Галерея"
    dir: "/collect/galery"
---

{% assign cat = "collect" %}

{% for post in site[cat] reversed %}
<h1 id="post__title">
  {{post.title}}
</h1>
<span class="date">{% include date.html date=post.date %}</span>
<div class="galery--wrap">
<img src="{{post.image}}" alt="{{post.description}}">

{% break %}
{% endfor%}



{% for post in site[cat]  %}
  {% if forloop.index0 == 0 %}
    {% assign post_index0 = forloop.index0 %}
    {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}

{% for post in site[cat] reversed %}
  {% if post_index0 == forloop.index %}
    {% assign next_post = post %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
    {% assign prev_post = post %}
  {% endif %}
{% endfor %}

{% if prev_post %}
<a class="post__img--prev" href="{{ prev_post.url | prepend: site.baseurl | prepend: site.url }}">&#x2039;</a>
{% else %}
<span class="post__img__span--prev">&#x2039;</span>
{% endif %}

{% if next_post %}
<a class="post__img--next" href="{{ next_post.url | prepend: site.baseurl | prepend: site.url }}">&#x203A;</a>
{% else %}
<span class="post__img__span--next">&#x203A;</span>
{% endif %}
</div>
