$breadHeight: 2.1rem;
.breadcrumb {
  padding: 0;
  list-style: none;
  height: $breadHeight;
  overflow-y: hidden;
  max-width: 100%;
  margin: .3rem 0 .5rem;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.breadcrumb li {
  display: inline;
  font-size: 16px;
  line-height: $breadHeight;
  font-family: $font11;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #757575;
  text-decoration: none;

  &:hover {
    color: #01447e;
  }
}

.bread__span {
  font-weight: bold;
  color: #424242;
}
