$navShadow: 5px -1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
body{
  display: grid;
  width: 60%;
  height: calc(100vh - 1.3rem);
  margin: 1.3rem auto 0;
  background: url(bg-grid.png);
  grid-gap: 1rem;
  grid-template-columns: 6fr 13fr 6fr;
  grid-template-rows: 13% 1fr 5% auto;
  grid-template-areas: "menu1 header header"
                       "menu1 content menu2"
                       "menu1 pagn menu2"
                       "menu1 footer footer";
}
.site__header{
  background-color: #fff;
  padding: 1rem;
  grid-area: header;
  box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);
  display: flex;
}
.menu1{
  grid-area: menu1;

  div{
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);
  }
}
.content--wrap{
  grid-area: content;
  padding: .4rem 1rem 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);

}
.menu2{
  grid-area: menu2;

  div{
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);
  }
}
.pagination__post{
  box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);
  background-color: #fff;
  grid-area: pagn;
}
.site__footer{
  grid-area: footer;

  padding: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, .1);
}
