@media only screen and (min-width:1024px) {


}

@media only screen and (min-width: 1224px){

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

@media only screen and (max-width:1224px) {
  html {
    font-size: 15px;
  }
  body{
    width: 98%;
  }
}
@media only screen and (max-width:960px) {
  html {
    font-size: 13px;
  }
  body{
    grid-template-columns: 13fr 7fr;
    grid-template-rows: 13% auto 1fr 5% auto;
    grid-template-areas: "header header"
                         "menu1 menu2"
                         "content menu2"
                         "pagn menu2"
                         "footer footer";
  }
  .menu1__ul{
    position: relative;
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 49% 49%;
    grid-template-columns: repeat(auto-fill, auto);

  }
  .menu1__li{
    margin: 0;
  }
  }
  #post__title {
    font-size: 1.4rem;
  }


@media only screen and (max-width:768px) {
  html {
    font-size: 16px;
  }
  body{
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 13% auto 1fr 5% 10% auto;
    grid-template-areas: "header "
                         "menu1 "
                         "content"
                         "menu2"
                         "pagn"
                         "footer";
  }
  .breadcrumb{
    height: 1.5rem;

    li{
      line-height: 1.5rem;

      font-size: .9rem;
      
    }
  }
  .pagination--home{
    padding: 1rem 0;
  }
  .menu2 div {
    position: none;

  }
  .page__title {
    font-weight: 500;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: #1e1e1e;
}
  }


@media only screen and (max-width:560px) {
  html {
    font-size: 15px;
  }

}

@media only screen and (max-width:480px) {
  html {
    font-size: 15px;
  }
  }

/*@media only screen and (max-width:320px) {
  html {
    font-size: 10.5px;
  }
}*/
