<!DOCTYPE html>
<html lang="ru">
{% include head.html %}
<body>
{% include header.html %}

<aside class="menu1">
  <div>
    <h4 class="menu1__title"> <span>Галерея</span> </h4>
    {% include menu1.html %}
  </div>
</aside>
<div class="content--wrap">
  <div class="eee--block marquee">
  {% if page.url == "/" %}
    <span class="page__title" title="{{ page.title }}">Яой как смысл жызни ?</span>
    {% else %}
    <span class="page__title" title="{{ page.title }}">Яой как смысл жызни</span>
  {% endif %}
  </div>
  {% include breadcrumb.html %}
<main>
{{ content }}
</main>
</div>
<aside class="menu2">
  <div>

    {% include menu2.html %}
  </div>
</aside>
<div class="pagination__post">
{% include paginations.html %}
</div>
{% include footer.html %}
</body>
</html>
